# pcb files
pcb/*/fp-info-cache
pcb/*/gerbers

## autosave files
\#auto_saved_files\#

## kicad netlist files
pcb/*.net
pcb/*.net

## backups
pcb/ps2-usb-converter-backups

#Firmware

firmware/compile_commands.json
firmware/openocd-start
firmware/output/*
!firmware/output/.gitkeep
firmware/README.md
firmware/.cache
